@font-face {
  font-family: 'CmPrasanmitR';
  src: url('../font/CmPrasanmitR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'CmPrasanmitR';
  line-height: 1.5;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




