
.bill-item-container,
.notification-item-container {
    display: flex;
    background-color: #F3F3F3;
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
}

.bill-item-container:hover,
.notification-item-container:hover {
    background-color: #ebebeb;
}

.bill-item-detail,
.notification-item-detail {
    width: 100%;
    
}

.bill-item-icon,
.notification-item-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.8rem;

}





.bill-item-icon img {
    width: 4rem;
    height: 4rem;
}

.notification-item-icon img {
    width: 3rem;
    height: 3rem;
}


.bill-item-tl{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.bill-item-month,
.notification-item-label{
    font-size: 2rem;
    font-family: CmPrasanmitB;
    color: #000000;
}

.bill-item-status{
    font-size: 1.8rem;
    font-family: CmPrasanmitB;
    color: #29D281;
}

.bill-item-btl,
.notification-item-timestamp{
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-between;
}

.bill-item-total,
.notification-timestamp-date{
    font-size: 2rem;
    font-family: CmPrasanmitR;
    color: #000000;
}

.bill-item-price,
.notification-timestamp-time{
    font-size: 2rem;
    font-family: CmPrasanmitR;
    color: #000000;
}