.home-container {
    /* width: auto; */
    display: flex;
    /* justify-content: space-between; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.home-container p {
    margin: 0;
}

.h-sidebar {
    width: 350px;
    height: 100%;

}

.h-main-content {
    width: 80vw;
    padding-left: 5rem;
    margin-right: 5rem;
    padding-top: 2rem;
}

/* .h-mt-content{
    
} */


.h-hello-mes {
    font-size: 2.8rem;
    font-family: CmPrasanmitR;
    color: #000000;
}

.h-username {
    font-size: 3.5rem;
    font-family: CmPrasanmitB;
    color: #000000;
}

.h-mbt-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.h-mbtl-content {
    width: 100%;
    box-sizing: border-box;
}

.h-mbtl-content-selected {
    width: 60%; /* Shrink to 60% when a bill is selected */
}

.h-mbtr-content {
    width: 38%;
    display: block; 
}

.h-text-header-l {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}



.h-bill-label {
    font-size: 2.5rem;
    font-family: CmPrasanmitB;
    color: #000000;
}

.h-years-label {
    font-size: 2.3rem;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.h-detail-label {
    font-size: 2.5rem;
    font-family: CmPrasanmitB;
    color: #000000;
}

/* .h-bills-list{
    width: 40vw;
} */

.h-to-allbills-link {
    display: block;
    text-align: end;
    line-height: 2;
    font-family: CmPrasanmitB;
    color: #50B498;
    font-size: 2rem;
    text-decoration: none;
}

.h-text-header-r {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.h-to-pdf {
    display: block;
    padding: 0 1rem;
    border-radius: 2rem;
    font-family: CmPrasanmitB;
    color: #ffffff;
    background-color: #50B498;
    font-size: 2.1rem;
    text-decoration: none;
}

.h-to-payment {
    display: block;
    padding: 0.8rem;
    text-align: center;
    margin-top: 1rem;
    border-radius: 2rem;
    font-family: CmPrasanmitB;
    color: #ffffff;
    background-color: #50B498;
    font-size: 2.5rem;
    text-decoration: none;
}

.h-to-payment:hover,
.h-to-pdf:hover {
    background-color: #3a9c7f;
}

.h-to-allbills-link:hover {
    color: #3a9c7f;
}

